@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i')
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")
// Variables
@import "variables"

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"


@mixin trans($s:0.5s)
  transition: $s

@mixin size($w,$h:$w)
  width: $w
  height: $h

@mixin ab_full
  position: absolute
  +size(100%)
  
@mixin bxshadow
  box-shadow: 0px 0px 20px rgba(black,0.3)


@import "./pageLoading"
@import "./pageIndex"
@import "./pageEvent"
@import "./pageEventList"
@import "./common"
@import "./nav"

*
  font-family: 'Source Sans Pro'

html,body
  overflow-x: hidden

#app
  &.loading
    max-height: 100vh
    overflow: hidden

.rowEvent
  *
    color: $colorBlue
  p
    opacity: 1
    font-weight: 600
  li
    &:hover
      background-color: #eee
    .cover
      margin: -15px
    
  h3
    margin-top: 0

//transition effect
//-------------------------
.fade-enter-active,.fade-leave-active
  transition: opacity .5s

.fade-enter,.fade-leave-to
  opacity: 0
.fade-enter-to,.fade-leave
  opacity: 1

.fade-delay-enter-active
  transition: opacity .5s .5s
.fade-delay-leave-active
  transition: opacity .5s

.fade-delay-enter,.fade-delay-leave-to
  opacity: 0
.fade-delay-enter-to,.fade-delay-leave
  opacity: 1

