@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i')
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")
// Variables
@import "variables"

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"


@mixin trans($s:0.5s)
  transition: $s

@mixin size($w,$h:$w)
  width: $w
  height: $h

@mixin ab_full
  position: absolute
  +size(100%)
  
@mixin bxshadow
  box-shadow: 0px 0px 20px rgba(black,0.3)


@import "./pageIndex"
@import "./pageEvent"
@import "./common"

.route_
  nav.navbar.navbar-default
    transition: 0.5s
    box-shadow: 0px 0px 10px rgba(black,0.3)
    .navbar-header,.navbar-nav
      a
        color: $colorBlue
        transition: 0.5s
    &.at_top
      background-color: transparent
      .navbar-header,.navbar-nav
        a
          color: white
  