$colorBlue: #071747
$colorRed: #e6326a
$colorBgRed: #f4556f

.pageIndex
  font-family: 'Source+Sans+Pro'
  // padding-top: 60px
  h1,h2,h3
    font-family: 'Khula'
  
section
  padding-top: 150px
  padding-bottom: 150px

  &.blue
    background-color: $colorBlue
    color: white
    hr
      background-color: $colorRed
  &.red
    background-color: $colorRed
    color: white
    hr
      background-color: white
    color: white
  &.white
    background-color: white
    color: $colorBlue
    hr
      background-color: $colorRed
  h1
    font-size: 100px
    font-weight: 700
    //font-weight: 500
  h2
    font-size: 42px
    font-weight: 700
    //font-weight: 500
  
  p
    font-size: 18px
    line-height: 1.67
    // text-align: justify
    font-weight: 400
    opacity: 0.5
  hr
    border: none
    margin-top: 24px
    margin-bottom: 36px
    width: 60px
    height: 10px
    margin-left: 0

.btn
  padding: 6px 40px
  border-radius: 80px
  margin-top: 60px
  line-height: 1.6
  font-size: 18px
  font-weight: 400
  opacity: 0.9
  &.red
    background-color: $colorRed
    color: white
    &:hover
      background-color: white
      color: $colorBlue
  &.blue
    background-color: $colorBlue
    color: white
    &:hover
      background-color: white
      color: $colorBlue
  &.white
    background-color: transparent
    color: white
    &:hover
      background-color: white
      color: $colorBlue
    &.ghost
      background-color: transparent
      border: solid 1px white
      color: white
      &:hover
        background-color: white
        color: $colorBlue
        border: solid 1px white

section.sectionHero
  min-height: 100vh
  display: flex
  align-items: center
  overflow: hidden
  padding-bottom: 50px

  .bgVideo
    position: absolute
    width: 100%
    height: auto
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    mix-blend-mode: soft-light
    opacity: 0.5

  h4
    font-size: 28px
    color: $colorRed
  ul.numbers
    list-style: none
    padding: 0
    margin-top: 100px
    li
      display: inline-block
      padding: 10px 50px
      padding-left: 0

      .title 
        opacity: 0.8
        font-size: 24px
        font-weight: bold

      .number
        font-size: 42px
        font-weight: 700
        color: white

section.sectionCaption
  background: linear-gradient(104deg, #f4556f, #e8366b 87%, #e6336a 98%, #e6326a)
  h3
    span
      background-color: #fff
      color: $colorBlue
      padding: 5px 10px
      display: inline-block

section.sectionPlatform
  padding-bottom: 300px


section.sectionPhoto
  margin-left: 120px
  margin-top: -150px
  background-color: $colorBgRed

section.sectionEvent
  h3
    background-color: $colorBlue
    color: white
    padding: 50px 20px
    font-size: 36px
    font-weight: 900
    white-space: nowrap
    span.big
      font-size: 52px


section.sectionContact
  input,textarea
    margin-bottom: 12px
    background-color: transparent
    border: none
    border-bottom: solid 3px white

    &:focus
      border-bottom-color: $colorRed
      outline: none