.page.pageAbout
  
  .sectionHero
    padding-top: 200px
    padding-bottom: 150px
    h3
      color: $colorRed
    .logo
      position: absolute
      right: 30px
      top: 100px
      width: 40min
      z-index: 1
      &.line
        opacity: 0.15
        right: 15vw
        top: 140px
        z-index: 0
  .sectionWhat
    padding-top: 0
    padding-bottom: 0
    background-color: $colorBlue
    .colContent
      padding-top: 50px
      padding-bottom: 50px
      padding-right: 50px
      background-color: white
      position: relative
      z-index: 1
      +bxshadow
      &:before
        content: ""
        position: absolute
        width: calc(100% + 1200px)
        height: 100%
        background-color: white
        right: 100%
        top: 0
        z-index: 2

  .sectionMission
    padding-top: 0
    padding-bottom: 0
    background-color: $colorBlue
    ul.numbers
      list-style: none
      padding: 0
      margin-top: 20px
      display: flex
      li
        // display: inline-block
        padding: 10px 50px
        padding-left: 0
        flex: 1

        .title 
          opacity: 0.8
          font-size: 24px
          font-weight: bold
          color: $colorRed
          white-space: nowrap

        .number
          font-size: 42px
          font-weight: 700
          // color: white
    .colContent
      padding-top: 50px
      padding-bottom: 50px
      background-color: white
      position: relative
      +bxshadow
      // z-index: 5
      &:before
        content: ""
        position: absolute
        width: calc(100% + 1200px)
        height: 100%
        background-color: white
        right: 100%
        top: 0
        z-index: 2

    .colPic
      background-color: $colorBgRed
      top: -100px
      &:before
        content: ""
        position: absolute
        width: calc(100% + 1200px)
        height: 100%
        background-color: $colorBgRed
        left: 0
        top: 0
        +bxshadow
      img
        transform: scaleX(-1)


  .sectionOpening
    .positionList
      background-color: transparent
      list-style: none
      color: white
      padding: 0
      margin-right: -15px

      h3,h4
        margin: 0
      h3
        font-family: "khula"
        font-weight: 900
      h4
        color: $colorRed
      li
        padding: 15px
        cursor: pointer
        transition: 0.5s

        &:hover
          background-color: #fff
          h3
            color: $colorBlue

  .sectionSponsor
    .card
      background-color: rgba(white,0.04)
      padding: 40px 20px
      margin: 0px
      text-align: center
      transition: 0.5s
      box-shadow: 0px 0px 20px rgba(black,0.1)
      cursor: pointer
      margin-bottom: 20px

      p
        opacity: 1

      ul
        margin-top: 50px
        opacity: 0.5


      h3
        font-family: "khula"
        font-weight: 900
        white-space: nowrap

      img
        width: 80%
        min-height: 120px
        
      ul,p
        text-align: left
      &:hover
        transform: translate(-5px,-5px)
        background-color: rgba(white,0.08)
        box-shadow: 0px 0px 30px rgba(black,0.2)